body
{
   margin: 0% 20%;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
.input
{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 2%;
}
input{
   width: 65%;
   padding: 10px;
   border-radius: 5px;
}
h1{
   text-align: center;
}
button
{
   display: block;
}
#time
{
   background-color: rgb(223, 223, 223);
}
#time::placeholder
{
   color: black;
}

#add,#update
{
   background-color: black;
   color: white;
   border: none;
   border-radius: 5px;
   margin: 3% 45%;
   padding: 2% 4%;
}
#home, #uhome
{
   color: green;
   border: 1px solid green;
   border-radius: 5px;
   background-color: white;
   padding: 2% 4%;
   margin: auto;
}
#chartContainer
{
   margin: auto;
}
h3,p{
   text-align: center;
}
select
{
   width: 30%;
   padding: 5px;
   margin: 0% 3%;
   border-radius: 3px;
}
.select
{
   margin-left: 25%;
}
#menu
{
   background-color: white;
   border: 1px green solid;
   color: green;
   margin: auto;
   padding: 17px 28px;
   border-radius: 5px;
}
form, .back
{
   margin: 5px;
}

