body
{
   display: flex;
   flex-direction: column;
   margin: 10px 100px;
   text-align: center;
}
td{
   padding: 5px;
}
th{
   padding: 10px;
}
th{
   background-color: black;
   color: white;
   overflow: auto;
}
h1{
   text-align: center;
   color: rgb(6, 174, 6);
   text-decoration: underline;
}
tr:nth-child(2n+1) td
{
   background-color: rgb(202, 202, 202);
}
tr:nth-child(2n) td
{
   background-color: rgb(242, 238, 238);
}
button
{
   color: rgb(255, 255, 255);
   padding: 10px;
   border: none;
   border-radius: 8px;
   width: 47%;
   margin: 2px;
}
#delete
{
   background-color: red;
}
#update
{
   background-color: green;
}
.btn
{
   width: 25%;
   display: inline;
   margin: auto;
}
#addNew
{
   color: white;
   background-color: black;
}
#filter
{
   color: black;
   border: black 1px solid;
   background-color: white;
   margin: 20px 1px;
}
.filter
{
   text-align: left;
   display: flex;
   flex-direction: column;
   font-weight: bold;
   font-size: large;
}
.filter select,.filter input{
   padding: 10px;
   border-radius: 5px;
}
.filterbtn
{
   margin: 10px;
}
#filterR
{
   color: rgb(39, 151, 2) ;
   border: rgb(39, 151, 2) 1px solid;
   background-color: white;
   margin: 20px 1px;
}
#menu
{
   background-color: white;
   border: 1px green solid;
   color: green;
   margin: auto;
   width: 25%;
}
